*{
    color: lightgrey;
    margin: 20px;
 /* background-color: aqua; */
}

h1{
    color: lightblue;
    background-image: url(https://images.pexels.com/photos/267684/pexels-photo-267684.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
 /* background-size: cover; */
    text-align: center;
    font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 40px;
    padding: 15px;
}

p{
    color: yellow;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
    margin: 30px;
}

.heading2{
    color: #000000;
}
a{
    color: #ff0000;
    font-style: italic;
    padding: 5px;
}

button{
    text-transform: uppercase;
    margin: 30px;
    padding: 10px;
    color: aqua;
    background-color: rgba(0, 255, 21, 0.836);
}